.task1a, .task1b{
  margin: 3%;
  margin-left: 6%;
  /* margin: auto; */
}
.firstCards{
  display: flex;
  flex-wrap: wrap;
  gap: 8%;
}

.allCards{
  display: flex;
  gap: 8%;
  margin-bottom: 5%;
  flex-wrap: wrap;
}